<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lab 4 Vue</title>
    <link rel="stylesheet" type="text/css" href="./styles/stylesVue.css">
   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script>
      
    window.addEventListener("load", () => {
        
        let vm = new Vue ({
            el:"#base",
            data: {
                test: "It Works!"
            },
            methods: {
                myClick: function(event) {
                    this.test = "It did work, good!"
                }
            }
        })
    
   
    let vmCount = new Vue ({
        el: "#count",
        data: {
            first: '',
            second: '',
            result: "....",
            
        },
        methods: { 
            adDNumbers: function(event1) {
                this.result = +this.first + +this.second
                
            },
            minusNumbers: function(event2) {
                this.result = +this.first - +this.second
            },
            multiplyNumbers: function(event3) {
                this.result =  this.first * this.second
               
            },
            devideNumbers: function(event4) {
                this.result =  this.first / this.second
            },
            resetCount: function(stallOm) {
                this.result = "...."
                this.first = ''
                this.second = ''
            }
            
        
        }
        
       
        
        
        
    })//vue
       /*var lastNumber = this.result 
         console.log(lastNumber)*/
        
        
}); //load
        
      
    
          
    
    
    
    
</script>
</head>
<body>
    
    
</body>
    <div id="base">1234
        <p> {{ test }} </p>
        <button @click="myClick">click to test</button>
    </div>
    
    <div id="count">
        
        <div id="numberOne">
        Enter First Number: 
        <input v-model="first" id="One" type="number" placeholder="enter number"><p>Number is: {{ first }}</p>
        </div>
        
        <div id="numberTwo">
        Enter Second Number: 
        <input v-model="second" id="Two" type="number" placeholder="enter number"><p>Number is: {{ second }}</p>
        </div>
        
        <button id="add" @click="adDNumbers">+</button>
        
        <button id="minus" @click="minusNumbers">-</button>
        
        <button id="multi" @click="multiplyNumbers">*</button>
        
        <button id="devide" @click="devideNumbers">/</button>
        
            
        
        <div id="sum">
            <p>{{ result }}</p>
        </div>
        
        <button id="res" @click="resetCount">Reset it</button>
        
    </div>
    
    
    
    
    
    
    

    
    </script>
</html>