<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lab 4 Vue V3</title>
    <link rel="stylesheet" type="text/css" href="./styles/styles3.css">
   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script>
      
    window.addEventListener("load", () => {
        
    let vmCount = new Vue ({
        el: "#start",
        data: {
            outPut: '',
            currentNumber: '',
            lastNumber: [],
            history: [],
            result : [],
            operator: ''
            },
        methods: {
            showNumber: function(event3) {
                this.currentNumber = this.currentNumber + "" + parseFloat(event3.target.innerHTML);
               // this.history.slice((-1)[0])
            },
            resetIt: function(event) {
            this.outPut = ''
            this.currentNumber = ''
            this.lastNumber = []
            this.history = []
            this.result = []
            },
            // [1, add, 3]
            opp: function(eventCount) {
                this.lastNumber.push(this.currentNumber)
                this.currentNumber = ''
                this.operator = eventCount.target.innerHTML
                if ( this.operator === "+") {
                    //this.oppy = eventCount.target.innerHTML
                    let add = (num1, num2) => +num1 + +num2
                    this.history.push(add(this.lastNumber[0], this.lastNumber[1]))
                    this.result = this.history.shift()
                    //this.outPut = this.result
                } else if ( this.operator === "-") {
                    this.operator = eventCount.target.innerHTML
                    let add = (num1, num2) => +num1 - +num2
                    this.history.push(this.lastNumber.reduce(add))
                    this.result = this.history.shift()
                    //this.outPut = this.result
                    this.operator = eventCount.target.innerHTML
                } else if ( this.operator === "*") {
                    this.operator = eventCount.target.innerHTML
                    let add = (num1, num2) => +num1 * +num2
                    this.history.push(this.lastNumber.reduce(add))
                    this.result = this.history.shift()
                    //this.outPut = this.result
                    this.operator = eventCount.target.innerHTML
                } else if ( this.operator === "/") {
                    this.operator = eventCount.target.innerHTML
                    let add = (num1, num2) => +num1 / +num2
                    this.history.push(this.lastNumber.reduce(add))
                    this.result = this.history.shift()
                    //this.outPut = this.result
                    this.operator = eventCount.target.innerHTML
                    
                } else if ( this.operator === "=") {
                    console.log("hej")
                }
                if( newAmazingArray.length > 3) {
                    let f = newAmazingArray[1];
                    let calculated = f(newAmazingArray[0], newAmazingArray[2])
                }
                
            
                
                
                
               
                
                
                    
                }
            }
            
//            sum: function(eventAdd) {
//                this.opp = eventAdd.target.innerHTML
//                console.log(eventAdd)
//                this.lastNumber.push(this.currentNumber)
//                this.currentNumber = []
//                let add = (num1, num2) => +num1 + +num2
//                 if ( this.lastNumber ) {
//                    this.history.push(this.lastNumber.reduce(add))
//                     this.result = this.history.shift()
//                     this.outPut = this.result
//                    }
//                    
//                 },
//            minus: function(eventMinus) {
//                console.log(this.result)
//                this.opp = eventMinus.target.innerHTML
//                
//                if ( this.opp == "+") {
//                    
//                    let add = (num1, num2) => +num1 + +num2
//                    this.history.push(this.lastNumber.reduce(add))
//                    this.result = this.history.shift()
//                    this.outPut = this.result
//                    this.opp = eventMinus.target.innerHTML
//                } 
//    
//                
////                this.lastNumber.push(this.currentNumber)
////                this.currentNumber = []
////                
////                let add = (num1, num2) => +num1 - +num2
////                 if ( this.lastNumber ) {
////                    this.history.push(this.lastNumber.reduce(add))
////                     this.result = this.history.shift()
////                    }  
//                    //this.result = +this.result - +this.currentNumber
//                },
//            multiply: function(event) {
//                this.lastNumber.push(this.currentNumber)
//                this.currentNumber = []
//                let add = (num1, num2) => +num1 * +num2
//                 if ( this.lastNumber ) {
//                    this.history.push(this.lastNumber.reduce(add))
//                     this.result = this.history.shift()
//                    }  
//                    //this.result = +this.result - +this.currentNumber
//            },
//            devide: function(event) {
//                this.lastNumber.push(this.currentNumber)
//                this.currentNumber = []
//                let add = (num1, num2) => +num1 / +num2
//                 if ( this.lastNumber ) {
//                    this.history.push(this.lastNumber.reduce(add))
//                     this.result = this.history.shift()
//                    }  
//                    //this.result = +this.result - +this.currentNumber
//            },
//            equal: function(event) {
//                //this.outPut = this.result
//                //this.history = +this.lastNumber + +this.currentNumber
                
                
            //}
        //}
    })//vue
      
}); //load
        
      
    
          
    
    
    
    
</script>
</head>
<body>
    
    
   <div class="container">
    <div id="start">
        <!--<input v-model="numbersDisplay" id="numbers" type="text" placeholder="0">-->
        <input placeholder="0" class="screen" v-model="outPut"></input>
        <input placeholder="currentNumber" class="list" v-model="currentNumber">
        </input>
        <input placeholder="lastnumber" class="list" v-model="lastNumber"></input>
        <input placeholder="history" class="list" v-model="history"></input>
        <input placeholder="result" class="list" v-model="result"></input>
            <table>
                <tr>
                    <td><button value="C" @click="resetIt">C</button></td>
                    <td><button v-on:click="showNumber">0</button></td>
                    <td><button v-on:click="opp">=</button></td>
                    <td><button v-on:click="opp">+</button></td>
                </tr>
                <tr>
                    <td><button v-on:click="showNumber">1</button></td>
                    <td><button v-on:click="showNumber">2</button></td>
                    <td><button v-on:click="showNumber">3</button></td>
                    <td><button v-on:click="opp">-</button></td>
                </tr>
                <tr>
                    <td><button v-on:click="showNumber">4</button></td>
                    <td><button v-on:click="showNumber">5</button></td>
                    <td><button v-on:click="showNumber">6</button></td>
                    <td><button v-on:click="opp">*</button></td>
                </tr>
                <tr>
                    <td><button v-on:click="showNumber">7</button></td>
                    <td><button v-on:click="showNumber">8</button></td>
                    <td><button v-on:click="showNumber">9</button></td>
                    <td><button v-on:click="opp">/</button></td>
                </tr>
        </table>
       
       
       
       
       
       
       
       
       
       </div>
</div>
        
     
</body>
</script>
</html>