body {
   background-color: green;
}


.container {
    background-color: gray;
    width: 300px;
    height: 460px;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    border-collapse: white;
}
.screen {
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    text-align: right;
    border-radius: 3px;
    border-color: white;
}

td > button {
    background-color: white;
    width: 60px;
    height: 60px;
}